dev_assets/annoy-1.17.0-cp39-cp39-win_amd64.whl
dev_assets/windows_capture-1.2.0-cp39-abi3-win_amd64.whl
annoy==1.17.0
windows-capture==1.2.0
pywin32==306
numpy==1.26.4
opencv-python-headless==4.10.0.84